html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

#root, .app {
    height: 100%;
    width: 100%;
}

.main {
    height: calc(100% - 52px);
    width: 100%;
}

.homePage {
    height: 100%;
    width: 100%;
    background: url("../assets/img/homePicture.png") no-repeat;
    background-size: cover;
    background-position-x: -200px;
    position: relative;
}

.homeText {
    position: absolute;
    top: 50px;
    left: 50px;

    max-width: 420px;
    padding: 20px;

    //font-size: 28pt;


    //background: rgba(130, 174, 176, 0.25);
    //box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    //backdrop-filter: blur( 4px );
    //-webkit-backdrop-filter: blur( 4px );
    //border-radius: 10px;
    //border: 1px solid rgba( 255, 255, 255, 0.18 );

    > h2 {
        margin: 0;
        color: #04142a;
        //text-shadow: 1px 1px #779191;
    }
    > p {
        //font-size: 16pt;
    }

}

.navbarMenuSections {
    justify-content: space-between;
    align-items: center;
    background: #212121;
    height: 50px;
}

.navbarNavigationsButtons {
    width: 300px;

    Button {
        color: white;
    }
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}